/.emacs.desktop*
/aclocal.m4
/autom4te.cache
/build-aux
/config.h
/config.h.in
/config.log
/config.status
/configure
/lib
/src/.deps
/src/dlinkcontrol
/src/*.o
/stamp-h1
.deps
Makefile
Makefile.in
*~
